
<div class="page-container">
    <h1 class="page-title">Home</h1>

    <section class="form-section">
        <h2 class="section-title">About Our Expense Tracker</h2>

        <h3>Description</h3>
        <p>Our expense tracker is designed to make managing monthly expenses simpler and more efficient. It helps users organize their spending by tracking transactions, categorizing expenses, and managing payment methods. With these tools, users can gain better insights into their finances and stay on top of their budgets.</p> 
        <br></br>
        <h3>Purpose</h3>
        <p>This website is not intended for public use or everyday consumers. Instead, it is built to manage the backend database of the expense tracker, providing an interface for administrators to organize and oversee the system. Through this platform, administrators can handle data related to users, transactions, expense categories, and payment methods with ease.</p>
        <br></br>
        <h3>Database Structure</h3>
        <ul>
            <li><strong>Users</strong>: Manage user details and monthly budgets.</li>
            <li><strong>Transactions</strong>: Record expenses, linking them to categories and payment methods.</li>
            <li><strong>User Transactions</strong>: Pivot table between Users and Transactions where you can see which users are a part of which transactions.</li>
            <li><strong>Expense Categories</strong>: Define categories like rent, groceries, and transportation.</li>
            <li><strong>Payment Methods</strong>: Record payment methods such as credit card, cash, or bank transfer.</li>
        </ul>
        <br></br>
        <h3>Created By</h3>
        <p>Matthew Dowling & Carter Nelson</p>
    </section>

</div>