{{!-- Citation for the following file as well as all handlebars and JS files used in the Node JS guide
Date: 11/21/2024
Adapted from the guide code, plugged in project specifics and will eventually keep expanding to make it look better
Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%200%20-%20Setting%20Up%20Node.js --}}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Example App</title>
</head>
<body>

    <nav class="navbar">
        <div class="navbar-container">
            <div class="navbar-logo">Expense Tracker</div>
            <ul class="navbar-links">
                <li><a href="/">Home</a></li>
                <li><a href="/view_users">Users</a></li>
                <li><a href="/view_transactions">Transactions</a></li>
                <li><a href="/user_transactions">User Transactions</a></li>
                <li><a href="/manage_expense_categories">Categories</a></li>
                <li><a href="/manage_payment_methods">Payment Methods</a></li>
            </ul>
        </div>
    </nav>


    {{{body}}}

</body>
</html>